* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
   
}


button {
    border-radius: 20px;
    padding: 8px 20px;
    background-color: whitesmoke;
    border: 1px solid gray;
    cursor: pointer;
    justify-content: center;
    color: red;
    font-weight: bolder;
    font-family: initial;
}

.gal {
    background-color: white;
    padding:30px;
    margin: 10px 180px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gal img {
    border-radius: 20px;
    height: 180px;
    cursor: pointer;
    transition: transform 0.4s ease
}


.gal img:hover {
    transform: scale(0.9);
    transitions: transform 0.4s ease;
    box-shadow: 0 8px 10px gray;
}